[Unit]
Description=Tektronix Auxiliary Front Panel (daemon)
After=dev-serial0.device

[Service]
Type=simple
User=tek
ExecStart=/usr/bin/python3 -m tekafp -m
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
